body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden; 
}

.container {
    width: 1171px;
    margin: 0 auto;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

header {
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    color: white;
    padding-bottom: 140px;
    padding-top: 70px;
}

p {
    line-height: 1.66em;
}

.wrapper {
	display: flex;
    justify-content: space-between;
}

.offer {
    margin-top: 140px;
    width: 560px;
}

h1 {
    font-size: 37px;
}

h1 span {
    font-size: 59px;
}

.aspiration {
    font-family: 'Open Sans';
    font-size: 16px;
    margin-bottom: 40px;
    width: 395px;   
}

.planet {
    margin-right: -60px;
}

.btn {
    font-family: 'Montserrat';
    font-weight: 900;
    background: #ffd429;
    color: #3c351c;
    display: block;
    width: 220px;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #efc211 
}

.my_future {
    padding-top: 105px;
    padding-bottom: 115px;
}

.my_future_heading {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 19px;
}

.skills {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.my_future_item {
    width: 300px;
    margin-top: 70px;
}

.form {
    background: #ecf3f8;
}

form {
    margin: 60px auto;
    width: fit-content;
	height: fit-content;
    text-align: -moz-center;
}

input {
    width: 340px;
    height: 45px;
    border: 1px solid #bbbbbb;
    font-family: 'Ubuntu' sans-serif;
    font-size: 15px;
    border-radius: 2px;
    padding-left: 22px;
    margin-bottom: 14px;
    display: block;
}

.form_btn {
    width: 340px;
    border: 0;
}

footer {
    background: #164d7a;
    padding: 60px 0;
}

.footer {
    text-align: center;
    color: white;
}

::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9c9b9f;
}





/* =================== Responsive ====================*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .wrapper {
        flex-direction: column;
    }

    .offer {
        width: 100%;
    }

    .aspiration {
        width: auto;
    }

    .planet {
        display: flex;
        width: 549px;
        margin: 70px auto 0;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .skills {
        flex-direction: column;
        align-items: baseline;
    }

    br {
        content: "";
    }

    br:after {
        content: "\00a0";
    }

    .my_future_item {
        width: 100%;
    }

}

.color {
    color: rgb(71, 59, 243);
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .btn {
        width: 100%;
    }

    .planet {
        width: 100%;
    }

    input {
        width: 285px;
    }
}